.images {
  background-image: url('./../assets/images/bg-top.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: inherit;
  height: 100vh;
}

.footer-images {
  background-image: url('./../assets/images/bg-bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: left;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__label {
  font-size: 30px;
  font-weight: bold;
  margin-top: 85px;
  margin-bottom: 44px;
  color: hsl(233, 13%, 49%);
}


// Switch

.container__switch {
  display: flex;
  margin-bottom: 65px;
}

.container__switch__label__annually {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: hsl(234, 14%, 74%);
  font-size: 14px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -4px;
  left: -11px;
  right: 9px;
  bottom: 1px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 23px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(236, 72%, 79%)
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container__switch__label__monthly {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: hsl(234, 14%, 74%);
  font-size: 14px;
  font-weight: bold;
}

// Card

.container__card {
  display: flex;
}

.card2 {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  height: 495px;
  width: 345px;
  border-radius: 8px;
}

.container__card3, .container__card1 {
  display: flex;
  height: 495px;
  justify-content: center;
  align-items: center;
}

.card3, .card1 {
  background: white;
  height: 445px;
  width: 345px;
  border-radius: 8px;
}
