<div class="images">
  <div class="footer-images"></div>
</div>

<div class="container">
  <span class="container__label">Our Pricing</span>

  <div class="container__switch">
    <span class="container__switch__label__annually">Annually</span>
    <label class="switch">
      <input type="checkbox" id="checkbox" checked>
      <span class="slider round"></span>
    </label>
    <span class="container__switch__label__monthly">Monthly</span>
  </div>

  <div class="container__card">
    <div class="container__card1">
      <div class="card1">
        <div class="card1__container__label">
          <span class="card1__label">Basic</span>
          <span class="card1__price" id="price">$19.99</span>
          <hr>
          <span class="card1__item">500 GB Storage</span>
          <hr>
          <span class="card1__item">2 User Allowed</span>
          <hr>
          <span class="card1__item">Send up to 3 GB</span>
          <hr class="space__down">
          <button class="card__button">Learn More</button>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="card1__container__label">
        <span class="card1__label white space">Professional</span>
        <span class="card1__price white" id="price2">$24.99</span>
        <hr>
        <span class="card1__item white">1 TB Storage</span>
        <hr>
        <span class="card1__item white">5 User Allowed</span>
        <hr>
        <span class="card1__item white">Send up to 10 GB</span>
        <hr class="space__down">
        <button class="card__button white__background hover__background">Learn More</button>
      </div>
    </div>
    <div class="container__card3">
      <div class="card3">
        <div class="card1__container__label">
          <span class="card1__label">Master</span>
          <span class="card1__price" id="price3">$39.99</span>
          <hr>
          <span class="card1__item">2 TB Storage</span>
          <hr>
          <span class="card1__item">10 User Allowed</span>
          <hr>
          <span class="card1__item">Send up to 20 GB</span>
          <hr class="space__down">
          <button class="card__button">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
