<div class="images">
  <div class="footer-images"></div>
</div>

<div class="container">
  <span class="container__label">Our Pricing</span>

  <div class="container__switch">
    <span class="container__switch__label__annually">Annually</span>
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    <span class="container__switch__label__monthly">Monthly</span>
  </div>

  <div class="container__card">
    <div class="container__card1">
      <div class="card1"></div>
    </div>
    <div class="card2"></div>
    <div class="container__card3">
      <div class="card3"></div>
    </div>
  </div>
</div>
